<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
        <%- include('./partials/nav.ejs') %>

        <div class="blogs content">
            <h2>About us</h2>
            <p>
                Welcome to my blog! I'm Vuthy, and I'm a Developer. I'm passionate about [your interests], and I love sharing my knowledge and experiences with others.
                On this blog, I'll be writing about [the topics you'll be writing about]. I'll share tips, tricks, and advice, and I'll also share my own personal stories. I hope you'll find my blog helpful and informative, and I hope you'll join me on this journey of learning and discovery.
            </p>
            <br>
            <h1> Thanks for reading!</h1>
        </div>
        <%- include('./partials/footer.ejs') %>
</body>
</html>